* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

/*
:root {
}
*/

.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12vw;
  padding: 1rem 1.8rem;
  font-size: 1.4vh;
  letter-spacing: 2px;
  height: auto;
}

.title {
  display: block;
}

.lista-enlaces {
  list-style: none;
}

.enlace-proyectos-github {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #212121;
  font-weight: bold;
}

.logo-github {
  height: 3rem;
  width: 3rem;
}

/* Calculadora */

body {
  background-image: linear-gradient(to right, #51ce89 20%, #ebe665 80%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  height: 84vh;
}

.calculadora {
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.6rem 1.6rem;
  border: 0.1rem solid #616161;
  border-radius: 0.8rem;
  width: clamp(380px, 50vh, 460px);
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.2vh;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.valor-pantalla {
  background-color: #3b3b3b;
  color: #ffffff;
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: end;
  min-height: 10vh;
  font-size: 5.8vh;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #616161;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.botones {
  background-color: #616161;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 3.8vh;
  border: 0.1rem solid #3a3a3a;
  border-radius: 0.8rem;
}

.botones:hover {
  background-color: #3a3a3a;
}

.ON {
  background-color: #4caf50;
  color: white;
  border: 0.1rem solid #388e3c;
}

.OFF {
  font-size: 3.2vh;
  background-color: #f44336;
  color: white;
  border: 0.1rem solid #d32f2f;
}

.ON:hover {
  background-color: #388e3c;
  border-color: #2c6b2f;
}

.OFF:hover {
  background-color: #d32f2f;
  border-color: #c62828;
}
